<!-- <div class="content" role="main">

  <div class="row justify-content-center pt-2 pb-2">
    <button title="Click here to start recording action" class="btn-mic w-auto" (click)="startRecording()"
      *ngIf="!isRecording" style="margin-right: 3px;">
      <img src="../../assets/mic.png" />
    </button>
    <button title="Click here to stop recording" class="btn-stop w-auto" (click)="stopRecording()" *ngIf="isRecording"
      style="margin-right: 3px;">
      <img src="../../assets/stop.png" />
    </button>
  </div>
  <audio #audioPlayer controls style="margin: 10px;"></audio>
  <a *ngIf="audioURL" [href]="audioURL" download="recorded_audio.wav">Download last reecorded Audio</a>
</div> -->

<!-- chat box -->


<!-- ------------------------------------------------------------------------------------------- -->

  <div *ngIf="startFlag">
    <div id="frame">
      <div class="contact-profile">
        <img [src]="bankImage" alt="bankLogo" />
        <p>alrajhi bank</p>
        <div class="social-media">
          <i class="fa-brands fa-facebook fa-2x"></i>
          <i class="fa-brands fa-twitter fa-2x"></i>
          <i class="fa-brands fa-instagram fa-2x"></i>
          <i><p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" 
            [showClear]="false" [style]="{'width':'130px','margin-top':'-15px','height':'40px',
            'font-style':'normal'}"></p-dropdown>
          </i>   
        </div>
      </div>
      <div class="messages" #scrollMe>
        <ul>
          <li [class]="msg.type" *ngFor="let msg of messages">
            <img [src]="msg.type === 'bank' ? bankImage : userImage" alt="" />
            <p >{{msg?.content || ''}}</p>
            <audio *ngIf="msg.voiceNote" controls>
              <source [src]="msg.voiceContent">
            </audio>
          </li>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <input type="text" #msgInput placeholder="Write your message..." (keyup.enter)="addNewMessage(msgInput)" />
          <button class="submit" (click)="addNewMessage(msgInput)">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
          <button title="Click here to start recording action" (click)="startRecording()"
          *ngIf="!isRecording">
          <i class="fa-solid fa-microphone"></i>
        </button>
        <button title="Click here to stop recording" (click)="stopRecording()" *ngIf="isRecording">
          <i class="fa-solid fa-stop"></i>
        </button>
       </div>
      </div>
    </div>
      
   
  </div>
  <div id="infoPart" *ngIf="!startFlag">
    <div id="frame">
      <!-- <div>
        <h1>Audio Stream</h1>
        <p>The audio stream will start or stop when you press the button.</p>
        <button (click)="isStreaming ? stopStream() : startStream()">
          {{ isStreaming ? 'Stop Stream' : 'Start Stream' }}
        </button>
        <audio #audioPlayer2 controls></audio>

        <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
      </div> -->
      <div class="contact-profile">
        <img [src]="bankImage" alt="bankLogo" />
        <p>alrajhi bank</p>
        <div class="social-media">
          <i class="fa-brands fa-facebook fa-2x"></i>
          <i class="fa-brands fa-twitter fa-2x"></i>
          <i class="fa-brands fa-instagram fa-2x"></i>  
        </div>
      </div>
    <div class="card flex justify-content-center" id="welcome">
      <div class="cardHeader"><h1>WELCOME TO OUR SMART CHAT</h1></div>
      <div class="cardTitle"><p>try to initiate a call</p></div>
      <div class="cardSelection">
        <div>
          <label>select a customer:</label>
          <p-dropdown [options]="Customers" [(ngModel)]="selectedCustomer" optionLabel="CICNumber" 
        [showClear]="true" placeholder="Select a Customer" (onChange)="onCustomerChange($event)"></p-dropdown>
        </div>
        <div>
          <label>select your preferrd language:</label>
          <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" 
              [showClear]="false"></p-dropdown>
        </div>
      </div>

      <p-tabView styleClass="tabview-custom" *ngIf="userInfo">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="fa-solid fa-circle-info"></i>
                <span>Basic Info</span>
            </ng-template>
            <div class="surface-section">
              <ul class="list-none p-0 m-0">
                  <li>
                      <label><span style="font-weight: bold;">Name: </span> 
                        <span>{{userInfo.AccountsLst.Accounts[0].AcctName}}</span></label>
                  </li>
                  <li>
                    <label><span style="font-weight: bold;">Email: </span> 
                      <span>{{userInfo.RewardPoints[0].Email}}</span></label>
                </li>
              </ul>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>Account Info ({{userInfo.AccountsLst.Accounts.length}})</span>
            </ng-template>
            <div class="surface-section">
              <p-scrollPanel [style]="{ width: '100%', height: '130px' }" styleClass="custombar2">
              <div *ngFor="let account of userInfo.AccountsLst.Accounts">
                  <ul class="list-none p-0 m-0">
                    <li>
                      <label><span style="font-weight: bold;">Account No: </span> 
                        <span>{{account.AccountNumber}}</span></label>
                    </li>
                    <li>
                      <label><span style="font-weight: bold;">Avaliable Balance: </span>
                         <span>{{account.AvailableBalance.Amount}}
                          {{account.AvailableBalance.Currency}}</span></label>
                    </li>
                  <li>
                    <label><span style="font-weight: bold;">Account Status: </span>
                       <span>{{account.AccountStatus}}</span></label>
                  </li>
                  <li>
                    <label><span style="font-weight: bold;">Account Type: </span> 
                      <span>{{account.AcctType}}</span></label>
                    </li>
                    <li>
                      <label><span style="font-weight: bold;">ATM Card Number: </span> 
                        <span>{{account.ATMCardNum}}</span></label>
                    </li>
                      <hr *ngIf="userInfo.AccountsLst.Accounts.length > 1"   size="4" width="90%" color="blue">  
                  </ul>
              </div> 
            </p-scrollPanel>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
              <i class="fa-solid fa-credit-card"></i>
                <span>Card Info</span>
                <i class="pi pi-cog"></i>
            </ng-template>
            <div class="surface-section">
              <ul class="list-none p-0 m-0">
                <li>
                  <label><span style="font-weight: bold;">Card No: </span> 
                    <span>{{userInfo.CreditCardLst.CreditCards[0].CardNumber}}</span></label>
                </li>
                <li>
                  <label><span style="font-weight: bold;">Avaliable Cash: </span> 
                    <span>100.2 SAR</span></label>
                </li>
                <li>
                  <label><span style="font-weight: bold;">Card Expiry Date: </span> 
                    <span>2024-12-31</span></label>
                </li>
              </ul>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header IV">
          <ng-template pTemplate="header">
            <i class="fa-solid fa-award"></i>
              <span>Rewords Points</span>
              <i class="pi pi-cog"></i>
          </ng-template>
          <div class="surface-section">
            <ul class="list-none p-0 m-0">
              <li>
                <label><span style="font-weight: bold;">Available Balance: </span>
                  <span>{{userInfo.RewardPoints[0].AvailableBalance}}</span></label>
              </li>
              <li>
                <label><span style="font-weight: bold;">Expired Points: </span>
                  <span>{{userInfo.RewardPoints[0].ExpiredPoints}}</span></label>
              </li>
              <li>
                <label><span style="font-weight: bold;">Expiry Period: </span>
                  <span>{{userInfo.RewardPoints[0].ExpiryPeriod}}</span></label>
              </li>
            </ul>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header V">
        <ng-template pTemplate="header">
          <i class="fa-solid fa-money-bill-transfer"></i>
            <span>Transactions</span>
            <i class="pi pi-cog"></i>
        </ng-template>
        <div class="surface-section">
          <label style="font-weight: bold;">Account Transaction:</label>
          <ul class="list-none p-0 m-0">
            <li>
              <label><span style="font-weight: bold;">Account Number: </span>
                <span>{{accountTransaction.TrxnLst.TrxnDtls[0].AcctNum}}</span></label>
            </li>
            <li>
              <label><span style="font-weight: bold;">Bill Amount: </span>
                <span>{{accountTransaction.TrxnLst.TrxnDtls[0].TrxnBalAmt.Amount}}
                  {{accountTransaction.TrxnLst.TrxnDtls[0].TrxnBalAmt.Currency}}</span></label>
            </li>
            <li>
              <label><span style="font-weight: bold;">Transaction Date: </span>
                <span>{{accountTransaction.TrxnLst.TrxnDtls[0].TrxnDateG}}</span></label>
            </li>
            <li>
              <label><span style="font-weight: bold;">Uncleared Balance: </span>
                <span>{{accountTransaction.TrxnLst.UnclearedBal}}</span></label>
            </li>
          </ul>
          <hr  size="4" width="90%" color="blue">
          <label style="font-weight: bold;">Card Transactions:</label>
          <ul>
            <li>
              <label><span style="font-weight: bold;">Transaction Ref Number: </span>
                <span>{{cardTransaction.TrxnsLst.TrxnDtls[0].TrxnRefNum}}</span></label>
            </li>
            <li>
              <label><span style="font-weight: bold;">Bill Amount: </span>
                <span>{{cardTransaction.TrxnsLst.TrxnDtls[0].BillingAmt.Amount}}
                  {{cardTransaction.TrxnsLst.TrxnDtls[0].BillingAmt.Currency}}</span></label>
            </li>
            <li>
              <label><span style="font-weight: bold;">Transaction Date: </span>
                <span>{{cardTransaction.TrxnsLst.TrxnDtls[0].TrxnDate}}</span></label>
            </li>
            <!-- <li>
              <label><span style="font-weight: bold;">Uncleared Balance: </span>
                <span>{{cardTransaction.TrxnsLst.UnclearedBal}}</span></label>
            </li> -->
          </ul>
      </div>
    </p-tabPanel>
    </p-tabView>
    <div style="margin: auto;" *ngIf="userInfo">
      <p-button label="Start" (click)="onStartChat()"></p-button>
    </div>
    
      
    </div>
    </div>
  </div>