<!-- <div class="content" role="main">

  <div class="row justify-content-center pt-2 pb-2">
    <button title="Click here to start recording action" class="btn-mic w-auto" (click)="startRecording()"
      *ngIf="!isRecording" style="margin-right: 3px;">
      <img src="../../assets/mic.png" />
    </button>
    <button title="Click here to stop recording" class="btn-stop w-auto" (click)="stopRecording()" *ngIf="isRecording"
      style="margin-right: 3px;">
      <img src="../../assets/stop.png" />
    </button>
  </div>
  <audio #audioPlayer controls style="margin: 10px;"></audio>
  <a *ngIf="audioURL" [href]="audioURL" download="recorded_audio.wav">Download last reecorded Audio</a>
</div> -->

<!-- chat box -->


<!-- ------------------------------------------------------------------------------------------- -->

  <div *ngIf="startFlag">
    <div id="frame">
      <div class="contact-profile">
        <img [src]="bankImage" alt="bankLogo" />
        <p>alrajhi bank</p>
        <div class="social-media">
          <i class="fa-brands fa-facebook fa-2x"></i>
          <i class="fa-brands fa-twitter fa-2x"></i>
          <i class="fa-brands fa-instagram fa-2x"></i>
          <i><p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" 
            [showClear]="false" [style]="{'width':'130px','margin-top':'-15px','height':'40px',
            'font-style':'normal'}"></p-dropdown>
          </i>   
        </div>
      </div>
      <div class="messages" #scrollMe>
        <ul>
          <li [class]="msg.type" *ngFor="let msg of messages">
            <img [src]="msg.type === 'bank' ? bankImage : userImage" alt="" />
            <p >{{msg?.content || ''}}</p>
            <audio *ngIf="msg.voiceNote" controls>
              <source [src]="msg.voiceContent">
            </audio>
          </li>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <input type="text" #msgInput placeholder="Write your message..." (keyup.enter)="addNewMessage(msgInput)" />
          <button class="submit" (click)="addNewMessage(msgInput)">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
          <button title="Click here to start recording action" (click)="startRecording()"
          *ngIf="!isRecording">
          <i class="fa-solid fa-microphone"></i>
        </button>
        <button title="Click here to stop recording" (click)="stopRecording()" *ngIf="isRecording">
          <i class="fa-solid fa-stop"></i>
        </button>
       </div>
      </div>
    </div>
      
   
  </div>
  <div id="infoPart" *ngIf="!startFlag">
    <div id="frame">
      <div class="contact-profile">
        <img [src]="bankImage" alt="bankLogo" />
        <p>alrajhi bank</p>
        <div class="social-media">
          <i class="fa-brands fa-facebook fa-2x"></i>
          <i class="fa-brands fa-twitter fa-2x"></i>
          <i class="fa-brands fa-instagram fa-2x"></i>  
        </div>
      </div>
    <div class="card flex justify-content-center" id="welcome">
      <div class="cardHeader"><h1>WELCOME TO OUR SMART CHAT</h1></div>
      <div class="cardTitle"><p>try to inisiate a call</p></div>
      <div class="cardSelection">
        <div>
          <label>select a customer:</label>
          <p-dropdown [options]="Customers" [(ngModel)]="selectedCustomer" optionLabel="CICNumber" 
        [showClear]="true" placeholder="Select a Customer" (onChange)="onCustomerChange($event)"></p-dropdown>
        </div>
        <div>
          <label>select your preferrd language:</label>
          <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" 
              [showClear]="false"></p-dropdown>
        </div>
      </div>

      <p-tabView styleClass="tabview-custom" *ngIf="userInfo">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="fa-solid fa-circle-info"></i>
                <span>Basic Info</span>
            </ng-template>
            <div class="surface-section">
              <ul class="list-none p-0 m-0">
                  <li>
                      <label><span style="font-weight: bold;">Name: </span> 
                        <span>{{userInfo.AccountsLst.Accounts[0].AcctName}}</span></label>
                  </li>
                  <li>
                    <label><span style="font-weight: bold;">Email: </span> 
                      <span>{{userInfo.RewardPoints[0].Email}}</span></label>
                </li>
              </ul>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>Account Info</span>
            </ng-template>
            <div class="surface-section">
              <ul class="list-none p-0 m-0">
                <li>
                  <label><span style="font-weight: bold;">Account No: </span> 
                    <span>{{userInfo.AccountsLst.Accounts[0].AccountNumber}}</span></label>
                </li>
                <li>
                  <label><span style="font-weight: bold;">Avaliable Balance: </span>
                     <span>{{userInfo.AccountsLst.Accounts[0].AvailableBalance.Amount}}
                      {{userInfo.AccountsLst.Accounts[0].AvailableBalance.Currency}}</span></label>
                </li>
              <li>
                <label><span style="font-weight: bold;">Account Status: </span>
                   <span>{{userInfo.AccountsLst.Accounts[0].AccountStatus}}</span></label>
              </li>
              <li>
                <label><span style="font-weight: bold;">Account Type: </span> 
                  <span>{{userInfo.AccountsLst.Accounts[0].AcctType}}</span></label>
              </li>
              </ul>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
              <i class="fa-solid fa-credit-card"></i>
                <span>Card Info</span>
                <i class="pi pi-cog"></i>
            </ng-template>
            <div class="surface-section">
              <ul class="list-none p-0 m-0">
                <li>
                  <label><span style="font-weight: bold;">Card No: </span> 
                    <span>{{userInfo.CreditCardLst.CreditCards[0].CardNumber}}</span></label>
                </li>
                <li>
                  <label><span style="font-weight: bold;">Avaliable Cash: </span> 
                    <span>100.2 SAR</span></label>
                </li>
                <li>
                  <label><span style="font-weight: bold;">Card Expiry Date: </span> 
                    <span>2024-12-31</span></label>
                </li>
              </ul>
          </div>
        </p-tabPanel>
    </p-tabView>
    <div style="margin: auto;" *ngIf="userInfo">
      <p-button label="Start" (click)="onStartChat()"></p-button>
    </div>
    
      
    </div>
    </div>
  </div>